body{
    background:  rgb(195, 163, 148);
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}
.square{
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
}

.square .izquierdo{
    width: 260px;
    background-color: rgb(63, 53, 44);
    vertical-align: top;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(244, 235, 226);

}
.square .derecho{
    padding-top: 40px;
    width: 590px;
    background-color:  rgb(245, 239, 234);
    color: rgb(39, 34, 29);
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;

}

.occupation{
    text-align: center;
}

.year{
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    line-height: 36px;
    width: 200px;
}

.infoEstudios{
    display: inline-block;
    width: 350px;
}

.experience{
    display: inline-block;
    color: black;
    width: 500px;
    padding-left: 50px;  
}

.foto{
    width: 200px;
    padding-top: 30px;
    object-fit: contain;
    border-bottom-right-radius: 100px;
    padding-left: 20px;
}

.izquierdo ul {
    line-height: 25px;
}
