
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 50px;
}

.mail{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.mail__title + p{
    font-size: 16px;
    color: var(--font-color);
}

.mail__title{
    font-size: 25px;
    text-align: left;
    color: var(--card-background);
    font-weight: 600;
}

.mail__link span{
    padding-left: 20px;
    font-size: 20px;
    color: var(--title-color);
    font-style: italic;
}

.mail__size{
    width: 20px;
    height: 20px;
}

a{
    text-decoration: none;
    color: var(--title-color);
}