
.projects__title{
    grid-column-end: span 2;
    color: var(--title-color);
    text-align: center;
    font-size: 30px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-width: 300px;
    max-width: 900px;
    gap: 30px;
}

.projects__card{
    background-color: var(--profile-color);
    text-align: center;
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    margin: auto;
    border-radius: 20px;
    transition: all 0.6s ease;
}

.project__image-container{
    display: flex;
    max-height: 230px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: 1px solid var(--title-color);
    outline-offset: -8px;
    background-color: var(--font-sub-color);
}

.project-image{
    max-width: 100%;
    width: 200px;
    margin: auto;
}

.project__description{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.project-title{
    color: var(--card-background);
    font-size: 25px;
    letter-spacing: 3px;
    padding-top: 10px;
    margin-left: 10px;
    text-align: left;
}

.project-subtitle{
    font-size: 12px;
    font-style: normal;
    color: var(--font-color)
}

.button {
    background-color: var(--card-background);
    color: var(--card-background);
    width: 50px;
    height: 2.9em;
    border: var(--bar-color) 1px solid;
    border-radius: 11px;
    transition: all 0.6s ease;
    background-color: var(--bar-color);
    color: #212121;
    cursor: pointer;
}


.button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.button:hover svg {
    transform: translateX(5px);
}

.projects__card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}