@import './animations.css';

:root{
    --font-color: #000000;
    --font-color-moon: #c89fa3;
    --font-sub-color: #F7EBEC;
    --font-sub-color-moon: #FFDBDA;
    --bar-color: #b4656F;
    --bar-color-moon: #754043;
    --card-background: #5c082a;
    --card-background-moon: #b4656F;
    --portfolio-background: #C89FA3;
    --portfolio-background-moon: #985f6f;
    --profile-color: #EACDC2;
    --profile-color-moon: #280004;
    --title-color: #1A1423;
    --title-color-moon: #EACDC2;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    margin-bottom: -20vh; 
}

section:last-child {
    margin-bottom: 0;
}

.profile{
    padding: 30px 0 30px 0;
    background-color: var(--profile-color);
}

.dark{
    --font-color: var(--font-color-moon);
    --bar-color: var(--bar-color-moon);
    --profile-color: var(--profile-color-moon);
    --title-color: var(--title-color-moon);
    --card-background: var(--card-background-moon);
    --portfolio-background: var(--portfolio-background-moon);
    --font-sub-color: var(--font-sub-color-moon);
}

@media screen and (max-width: 1000px){
    .profile__wrapper{
        max-width: 800px;
    }
    .profile__data-container{
        grid-column-end: span 2;
    }
    .portfolio{
        flex-direction: column;
    }
    .technologies{
        padding-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    .technologies__title{
        grid-column-end: span 4;
    }
}

@media screen and (max-width: 830px){
    .technologies__title{
        grid-column-end: span 3;
    }
    .git{
        grid-column-end: span 2;
    }
}

@media screen and (max-width: 600px){
    .profile__wrapper{
        max-width: 450px;
    }
    .profile__data-container{
        grid-column-end: span 1;
    }
    .projects__title{
        grid-column-end: span 1
    }
    .technologies__title{
        grid-column-end: span 2;
    }
    .git{
        grid-column-end: span 1;
    }
}

@keyframes underlined{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}